# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.expo/
*.js.map

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp

# Docker volumes
docker/postgres/data/

# Coverage
coverage/
.nyc_output/

# Expo
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/

# Secrets & signing files
build-apk.ps1
apps/mobile/credentials.json
apps/mobile/*.p12
apps/mobile/*.jks
apps/mobile/*.keystore
